*
	padding: 0
	margin: 0
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

*::-webkit-input-placeholder
	color: #b5b3b4
	opacity: 1

*:-moz-placeholder
	color: #b5b3b4
	opacity: 1

*::-moz-placeholder
	color: #b5b3b4
	opacity: 1

*:-ms-input-placeholder
	color: #b5b3b4
	opacity: 1
::selection
	background: #ccc
	color: #fff
::-moz-selection
	background: #ccc
	color: #fff

::-webkit-selection
	background: #ccc
	color: #fff

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 16px
	min-width: 320px
	height: auto
	position: relative
	line-height: 1.75
	font-family: $df
	overflow-x: hidden

.img-responsive
	max-width: 100%
	height: auto

.header
	position: relative
	width: 100%
	padding: 25px 0 0 0

.header-flex-w
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	margin-bottom: 14px

.logo-block
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	vertical-align: top
	width: 458px / 1140px * 100%
	.logo
		display: inline-block
		font-size: 46px
		font-family: $dblack
		color: #4f4c4d
		text-transform: uppercase
		margin-right: 24px
		span
			color: #f99300
	.logo-d
		vertical-align: top
		width: 35%
		display: inline-block
		margin-top: 22px
		font-family: $dl
		color: #3a3a3a
		font-size: 17px
		line-height: 19px
.t-sty
	font-size: 13px
	color: #727070
	text-decoration: underline

.lang-block
	display: inline-block
	position: relative
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	align-items: baseline
	padding-top: 22px
	white-space: nowrap
	.l-china
		position: relative
		display: inline-block
		margin-left: 50px
		&:before
			content: ''
			position: absolute
			left: -35px
			top: -4px
			width: 32px
			height: 32px
			background-image: url(../img/sprite.png)
			background-repeat: no-repeat
			background-position: 0 0
	.l-eng
		position: relative
		display: inline-block
		margin-left: 50px
		&:before
			content: ''
			position: absolute
			left: -35px
			top: -4px
			width: 32px
			height: 32px
			background-image: url(../img/sprite.png)
			background-repeat: no-repeat
			background-position: 0 -37px
	.about
		position: relative
		display: inline-block
		margin-left: 40px
		&:before
			content: ''
			position: absolute
			left: -25px
			width: 18px
			height: 18px
			background-image: url(../img/sprite.png)
			background-repeat: no-repeat
			background-position: 0 -74px

.os-block
	position: relative
	padding-top: 17px
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	.fa-apple
		font-size: 25px
		color: #727071
		margin-left: 43px
	.fa-android
		font-size: 25px
		color: #727071
		margin-left: 8px

.acc-block
	list-style-type: none
	padding-top: 20px
	white-space: nowrap
	li
		display: inline-block
		position: relative
		&:before
			content: ''
			position: absolute
			top: 10px
			right: -12px
			background-color: #6e6e6e
			width: 1px
			height: 12px
		&:last-child
			&:before
				display: none
		a
			font-size: 14px
			color: #3a3a3a
			.fa-user-circle-o,
			.fa-question,
			.fa-sign-in
				color: #f99300
				font-size: 15px
				margin-right: 5px
	.log-in
		margin-left: 34px
	.reg
		margin-left: 23px
	.help
		margin-left: 19px

.header-form-block
	position: relative
	width: 100%
.header-form
	height: 50px
	border-radius: 1px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row

.drop
	margin: 0
	padding: 0
	width: inherit
	color: #000
	background-color: #fff
	border: 1px solid #C2C2C2
	display: none
	position: absolute
	z-index: 2
	top: 40px
	font: normal 200 14px/33px "Roboto", Arial, sans-serif
	box-shadow: 0 0px 13px 0 rgba(0, 0, 0, .4)
	list-style-type: none
	li
		list-style: none
		cursor: pointer
		display: block
		color: #000
		padding: 0px 10px
		&:first-child 
			padding-top: 9px
		&:last-child
			padding-bottom: 9px
		&:hover
			background-color: #ffe38f
// .header-form
// 	display: -webkit-flex
// 	display: -moz-flex
// 	display: -ms-flex
// 	display: -o-flex
// 	display: flex
// 	flex-direction: row
// 	flex-wrap: nowrap

.h-drop
	width: auto
	white-space: nowrap
	top: 100%

.header-form-slct
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	width: 110px
	border: 2px solid #3a3a3a
	position: relative
	border-right: none
	position: relative
	&:after
		content: ''
		position: absolute
		top: 0
		left: 100%
		right: 0
		bottom: 0
		background-color: #d7d7d7
		width: 1px
	.h-slct
		color: #3a3a3a
		position: relative
		display: inline-block
		margin-left: 28px
		margin-top: 9px
		text-decoration: none
		padding-right: 15px
		&:before
			content: ''
			position: absolute
			top: 12px
			right: 0
			width: 12px
			height: 5px
			background-image: url(../img/sprite.png)
			background-position: 0 11px

.header-input
	border: 2px solid #3a3a3a
	border-left: none
	text-indent: 30px
	border-right: none
	width: 77%

.header-find-btn
	border: 0
	border-left: none
	background: #3a3a3a
	position: relative
	color: #fff
	border-top-right-radius: 1px
	border-bottom-right-radius: 1px
	white-space: nowrap
	padding-left: 28px
	padding-right: 29px
	&:before
		content: ''
		position: absolute
		top: 0px
		left: 100%
		width: 0
		height: 0
		border-style: solid
		border-width: 25px 0 25px 16px
		border-color: transparent transparent transparent #3a3a3a
	.fa-search
		font-size: 20px
		margin-right: 16px

.for-suppliers
	position: relative
	width: 100%
	padding-top: 25px
	white-space: nowrap
	margin-bottom: 208px
.wn
	white-space: normal

.bann-flex-w
	margin: 0 auto

.suppl-title
	font-size: 24px
	font-family: $dl
	border-bottom: 1px solid #b5b3b4
	display: inline-block
	margin-top: 30px
	margin-left: 118px
	position: relative
.t-sup
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 1px
		left: -73px
		width: 74px
		height: 64px
		background-image: url(../img/icon-sprite.png)
		background-repeat: no-repeat
		background-position: 0 -180px
.t-cus
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 1px
		left: -73px
		width: 74px
		height: 73px
		background-image: url(../img/icon-sprite.png)
		background-repeat: no-repeat
		background-position: 0 -329px
.t-rus
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: -15px
		left: -94px
		width: 90px
		height: 73px
		background-image: url(../img/icon-sprite.png)
		background-repeat: no-repeat
		background-position: 0 -550px
.t-plnt
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: -15px
		left: -94px
		width: 90px
		height: 73px
		background-image: url(../img/icon-sprite.png)
		background-repeat: no-repeat
		background-position: 0 0
.r-plnt
	border-bottom: none
	position: relative
	font-family: $df
	font-size: 26px
	&:before
		content: ''
		position: absolute
		bottom: -6px
		left: -112px
		width: 90px
		height: 73px
		background-image: url(../img/icon-sprite.png)
		background-repeat: no-repeat
		background-position: 0 0

.plant-block
	margin-top: 30px
	display: inline-block
	padding-left: 25px
	padding-top: 35px
	position: relative
	width: 201px
	&:before
		content: ''
		position: absolute
		top: 124px
		right: -50px
		width: 182px
		height: 181px
		background-image: url(../img/rib_1.png)
		background-repeat: no-repeat
		background-position: 0 0
	&:after
		content: ''
		position: absolute
		top: 8px
		right: -36px
		width: 96px
		height: 116px
		background-image: url(../img/bsrib_1.png)
	.plant-text
		font-family: $dt
		color: #3a3a3a
		line-height: 18px
		position: relative
		border-bottom: 1px solid #cfcdce
		white-space: normal
		&:before
			content: ''
			top: 68px
			position: absolute
			background-image: url(../img/icon-sprite.png)
			background-repeat: no-repeat
			background-size: cover
			width: 109px
			height: 78px
	.himc
		position: relative
		&:before
			content: ''
			top: 68px
			position: absolute
			background-image: url(../img/icon-sprite.png)
			background-repeat: no-repeat
			background-position: 0 -218px
			background-size: cover
			width: 109px
			height: 78px
.custr
	top: 15px

.opt-block
	display: inline-block
	margin-left: 248px
	position: relative
	&:before
		content: ''
		position: absolute
		top: 87px
		left: -135px
		width: 183px
		height: 181px
		background-image: url(../img/rib_2.png)
		background-repeat: no-repeat
	&:after
		content: ''
		position: absolute
		top: -27px
		left: -120px
		width: 96px
		height: 116px
		background-image: url(../img/bsrib_1.png)
		transform: scale(-1, 1)
	.opt-text
		font-family: $dt
		color: #3a3a3a
		line-height: 18px
		position: relative
		border-bottom: 1px solid #cfcdce
		&:before
			content: ''
			position: absolute
			top: 78px
			left: 24px
			background-image: url(../img/icon-sprite.png)
			background-repeat: no-repeat
			background-size: cover
			background-position: 0 -241px
			width: 89px
			height: 74px

.cen-block
	position: relative
	margin-top: 158px
	margin-left: 171px
	.cen-title
		display: inline-block
		color: #3a3a3a
		font-family: $dl
		margin-left: 5px
		line-height: 22px
	.cen-list
		text-align: center
		width: 32%
		margin-top: 18px
		li
			font-size: 14px
			color: #727071
			line-height: 22px
			text-align: left

.cus-block
	display: inline-block
	position: relative
	margin-top: 178px
	margin-left: 25px
	width: 121px
	&:before
		content: ''
		position: absolute
		bottom: 72px
		left: 42px
		width: 183px
		height: 181px
		background-image: url(../img/rib_3.png)
		background-repeat: no-repeat
		z-index: 1
	&:after
		content: ''
		position: absolute
		right: -91px
		bottom: 0
		width: 96px
		height: 83px
		background-image: url(../img/bsrib_1.png)
		background-repeat: no-repeat
		z-index: 0
	.cus-text
		font-family: $dt
		color: #3a3a3a
		line-height: 18px
		position: relative
		border-bottom: 1px solid #cfcdce
		white-space: normal
		&:before
			content: ''
			position: absolute
			bottom: 60px
			left: 5px
			background-image: url(../img/icon-sprite.png)
			background-repeat: no-repeat
			background-size: cover
			background-position: 0 -325px
			width: 89px
			height: 74px
	.pack-text
		position: relative
		&:before
				content: ''
				position: absolute
				bottom: 86px
				left: 10px
				background-image: url(../img/icon-sprite.png)
				background-repeat: no-repeat
				background-size: cover
				background-position: 0 -470px
				width: 89px
				height: 74px
.fcmgr
	margin-top: 115px


.carrier-block
	display: inline-block
	position: relative
	margin-left: 293px
	width: 85px
	&:before
		content: ''
		position: absolute
		bottom: 73px
		right: 30px
		width: 183px
		height: 181px
		background-image: url(../img/rib_4.png)
		background-repeat: no-repeat
		z-index: 1
	&:after
		content: ''
		position: absolute
		left: -114px
		bottom: 0
		width: 96px
		height: 83px
		background-image: url(../img/bsrib_1.png)
		background-repeat: no-repeat
		transform: scale(-1, 1)
		z-index: 0
	.carrier-text
		font-family: $dt
		color: #3a3a3a
		line-height: 18px
		position: relative
		border-bottom: 1px solid #cfcdce
		white-space: normal
		&:before
			content: ''
			position: absolute
			bottom: 60px
			left: 5px
			background-image: url(../img/icon-sprite.png)
			background-repeat: no-repeat
			background-size: cover
			background-position: 0 -405px
			width: 88px
			height: 52px
	.crimg
		position: relative
		&:before
			content: ''
			position: absolute
			bottom: 85px
			left: 15px
			background-image: url(../img/icon-sprite.png)
			background-repeat: no-repeat
			background-size: cover
			background-position: 0 -552px
			width: 88px
			height: 58px
	.rsimg
		position: relative
		&:before
			content: ''
			position: absolute
			bottom: 85px
			left: 15px
			background-image: url(../img/icon-sprite.png)
			background-repeat: no-repeat
			background-size: cover
			background-position: 0 -177px
			width: 88px
			height: 60px

.work-with-us
	position: relative
	width: 100%
	margin-bottom: 135px

.work-block
	width: 100%
	position: relative
	border: 1px solid #e0dfe0
	padding-left: 20px
	padding-right: 20px
	.work-title
		font-size: 18px
		text-transform: uppercase
		font-family: $dt
		color: #727071
		margin-left: 100px
		margin-bottom: 8px
	.partners-img
		display: inline-block
		margin-top: 10px
		margin-left: 58px

.reg-b
	position: relative
	width: 100%
	margin-top: 18px
	margin-left: 70px
	&-ti
		border: 1px solid #b5b3b4
		font-size: 14px
		color: #b5b3b4
		height: 42px
		width: 290px / 360px *100%
		text-indent: 17px
		border-radius: 3px
		margin: 5px 0
	&-btn
		margin-top: 5px
		width: 290px / 360px *100%
		height: 42px
		background-color: #f99300
		border: none
		border-radius: 3px
		font-family: $dt
		font-size: 14px
		color: #fff
#small-dialog 
	background: white
	padding: 20px 30px
	text-align: left
	max-width: 400px
	margin: 40px auto
	position: relative

.reg-us
	position: relative
	width: 100%
	margin-bottom: 55px
	&-title
		font-size: 24px
		line-height: 22px
		color: #3a3a3a
		font-family: $dl
		text-indent: 15px
		margin-bottom: 20px

a.us-btn
	display: inline-block
	background-color: #8e8d8d
	font-size: 18px
	font-family: $dt
	color: #fff
	text-decoration: none
	padding: 0 62px
	line-height: 40px
	border-radius: 3px
	text-align: center
	&:hover
		color: #fff
.btnmg
	margin-left: 55px
.inmgrb
	margin-left: 12px

// Tabs
.tabs-h
	list-style-type: none
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	margin: 36px 0 0 4px
	li
		display: inline-block
		text-align: center
		border-top: 3px solid transparent
		padding: 12px 0 0 0
		flex-basis: 213px
		p
			display: inline-block
			font-size: 14px
			line-height: 18px
			color: #3a3a3a
			text-align: center
			span
				display: block
	.active-tab
		border-top: 3px solid #f99300
		p
			color: #f89201

.info-org
	width: 100%
	position: relative
	margin-top: 33px
	padding-left: 5px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap
.leg-ad-org
	display: inline-block
	position: relative
	width: 500px / 1140px * 100%
.form-group
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	margin: 16px 0
	label
		font-size: 13px
		color: #3a3a3a
		font-family: $dl
		line-height: 16px
		max-width: 248px
	.reg-slct
		display: inline-block
		width: 250px / 500px * 100%
		border: 1px solid #b5b3b4
		line-height: 32px
		height: 36px
		border-radius: 3px
		color: #b5b3b4
		position: relative
		text-indent: 15px
		&:before
			content: ''
			position: absolute
			top: 14px
			right: 8px
			background-image: url(../img/sprite.png)
			background-repeat: no-repeat
			background-position: 0 -187px
			width: 12px
			height: 8px
		a
			color: #b5b3b4
			text-decoration: none
			font-size: 13px
		.reg-drop
			font-size: 13px
			width: 100%
			li
				color: #b5b3b4
				padding-left: 0
				padding-right: 0
.checked-f
	position: relative
	.fa-check
		color: #86ad14
		position: absolute
		top: 8px
		right: -33px
		font-size: 17px
.err-checked-f
	position: relative
	border: 1px solid #c7272f!important
	box-shadow: 0px 0px 3px 0.5px rgba(199,39,47,1)!important
	border-radius: 3px
	.fa-times
		color: #c00b14
		font-size: 18px
		position: absolute
		top: 8px
		right: -33px
	input
		border: none
.reg-title
	display: block
	margin: 16px 0 22px 0
	font-size: 14px
	color: #3a3a3a
	font-family: $db
.form-input
	position: relative
	width: 250px / 500px * 100%
.reg-input-t
	font-size: 13px
	width: 100%
	border: 1px solid #b5b3b4
	line-height: 32px
	height: 36px
	color: #b5b3b4
	position: relative
	text-indent: 15px
	border-radius: 3px
.reg-area-t
	font-size: 13px
	width: 250px / 500px * 100%
	border: 1px solid #b5b3b4
	border-radius: 3px
	min-height: 131px
	color: #b5b3b4
	position: relative
	text-indent: 15px
	resize: vertical
.fg-fls
	justify-content: flex-start
	flex-wrap: nowrap
	flex-direction: row!important
	label
		display: inline-block
.als
	align-self: flex-start
	margin-top: 6px

.add-site-i
	width: 32px
	height: 32px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 -202px
	cursor: pointer
	display: inline-block
	margin-left: 23px

.act-ad-org
	display: inline-block
	position: relative
	width: 500px / 1140px * 100%
	vertical-align: top
	margin-right: 8px

.reg-btn-block
	position: relative
	width: 100%
	margin-top: 13px

.save-reg
	width: 280px
	background-color: #3a3a3a
	border: none
	font-size: 14px
	color: #fff
	height: 42px
	border-radius: 3px
	text-align: left
	text-indent: 26px
	display: inline-block
	position: relative
	&:before
		content: ''
		position: absolute
		right: 25px
		top: 14px
		background-image: url(../img/sprite.png)
		background-repeat: no-repeat
		background-position: -11px -144px
		width: 8px
		height: 15px

input[type="checkbox"] + span, input[type="radio"] + span
	-webkit-appearance: none
	width: 16px
	height: 16px
	border: 1px solid #cccccc
	border-radius: 1px
	outline: none
	box-sizing: border-box
	display: inline-block
	background-image: linear-gradient(to bottom, #EEEEEE 0%, #DDDCDD 100%)
input[type="checkbox"]:checked + span:before
	content: ""
	display: block
	width: 16px
	height: 16px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 1px -237px

.form-tags
	position: relative
	.tags-ul
		position: absolute
		top: 3px
		left: 15px
		li
			display: inline-block
			font-size: 13px
			background-color: #fef2e0
			color: #3a3a3a
			padding: 3px 4px
			border-radius: 3px
			.fa-times
				color: #f89201
				font-size: 10px
				position: relative
				top: -1px
				cursor: pointer

.file-upload
	position: relative
	overflow: hidden
	width: 250px / 500px * 100%
	border: 1px solid #b5b3b4
	height: 36px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	// right: -20px
	border-radius: 3px
	button
		width: 98px
		height: 100%
		cursor: pointer
		font-size: 13px
		border: none
		color: #fff
		background-color: #3a3a3a
		border-radius: 3px
		height: 32px
		position: absolute
		right: 0
		top: 1px
	div
		font-size: 14px
		color: #b5b3b4
		text-indent: 15px
		white-space: nowrap
	input[type="file"]
		position: absolute
		left: 0
		top: 0
		cursor: pointer
		visibility: hidden

.form-sm-check
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	margin-top: 0
	.form-input
		display: inline-block
		width: 16px
		margin-left: 9px
		margin-top: 4px
.trade-opp
	width: 550px / 1140px * 100%

.mgllb
	margin-left: 16px!important
.txtin-lb
	text-indent: 32px

.table-sm-check
	width: 100%
	tr
		td
			width: 65px
.trtar
	text-align: right
	td
		&:first-child
			text-align: left
.trflx
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap
	td
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
.hlbl
	font-size: 14px!important
	color: #3a3a3a!important
	font-family: $db!important
	position: relative
	top: -3px



























































// footer styles

.footer
	position: relative
	width: 100%
	padding-top: 40px
	.footer-nav
		width: 100%
		position: relative
		background-color: #5d5c5c
		padding: 30px 0
		ul
			list-style-type: none
			li
				display: inline-block
				margin-left: 6px
				&:first-child
					margin-left: 0
				a
					color: #fff
					font-size: 15px
	.footer_copyright
		position: relative
		width: 100%
		background-color: #414141
		padding: 33px 0 100px 0

.copyrigth_text
	font-weight: bold
	color: #fff
	font-size: 14px
	margin-left: 4px
	white-space: nowrap
	margin-bottom: 25px
	span
		font-weight: normal
	a
		color: #f99300

.footer_list
	display: inline-block
	border-top: 1px solid #5c5c5c
	color: #d7d7d7
	list-style-type: none
	font-weight: 100
	line-height: 18px
	padding-top: 5px
	white-space: nowrap
	font-size: 13px
	margin-left: 5px
	a
		color: #d7d7d7
		font-size: 13px
		font-family: $dl
.mgbnull
	margin-bottom: 0


.mgb
	margin-bottom: 18px